<div class="message_container" >
  <ul>
    <%
      @conversation = Conversation.find(params[:id])
    %>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </ul>
</div>