/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/
.message_container {
  background-color: #fdfdfd;
  border-top: solid #b7babb 1px;
  border-left: solid #b7babb 1px;
  height: 100%;

  .reply_form{
    display: none;

    textarea {
        width: 98%;
        height: 75px;
        border: 1px solid #b7babb;
        padding: 5px;
        margin: 3px;
        overflow:hidden;
        font-family: Georgia, serif;
        font-color: #333;
    }
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #fdfdfd;
  }

  li {
    padding: 4px 15px 15px;
    border-bottom: solid #b7babb 1px;

    .message_content{
      display: none;
    }
  }

  span.conversation_name_list{
    font-weight: bold;
    color: #555;
    float: left;
  }

  span.conversation_time{
    float: right;
  }
}